<div class="jumbotron jumbotron-fluid footer">
    <div class="container  text-center">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mr-auto">
                <h4>Suresh Nagulapalli</h4>
                <div class="row">
                    <div class="col">
                        <a href="https://github.com/sureshnagulapalli" target='_blank' class="link_hover"><img src="assets/github.png" class='link_logo'></a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/suresh-nagulapalli" target='_blank' class="link_hover"><img src="assets/linkedin.svg" class="link_logo"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>sureshnagulapalli13@gmail.com</p>
                <p>(234)-233-9690</p>
            </div>
        </div>
        <div>
            <p id="copyright">copyright 2020 suresh nagulapalli . Developed using Angular</p>
        </div>

    </div>
</div>
