<div class="about">
  <div class="container vh-100"> 
    <div class="jumbotron abt">
      <p class="heading_name">Suresh Nagulapalli</p>
      <p class="heading_text1">Master's in Computer Science, Kent State University</p>
      <hr class="my-4">
      <p class="heading_text2">I'm a Full Stack Engineer, proficient in developing, testing and debugging production level systems using Angular along with NodeJs, Python, Java and SpringBoot.</p>
      <div id="more_info">
        <p class="heading_text2">Knowledge in data analytics and machine learning using python libraries.</p>
      </div>
      <div id="more_info"><a class="btn btn-outline-info btn-lg" routerLink="/projects" role="button">My Projects!</a></div>
    </div>
  </div>
</div> 