<div class='row row-cols-1 row-cols-md-2 row-cols-lg-3'>
    <div class="col">
        <div class="card shadow-lg p-1 mb-5 bg-black rounded">
            <img src="assets/project_imgs/coming_soon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Project Management</h5>
            <p class="card-text">Project Management is a website, where project work can organized by team mates</p> 
            <p class="card-text">Users can put timelines, and can also communicate within project messenger</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg p-1 mb-5 bg-black rounded">
            <img src="assets/project_imgs/coming_soon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">student magazine</h5>
            <p class="card-text">Student magazine is a social media website, where users can post events on their page</p>
            <p class="card-text">Users can like and comment on the post</p>
            </div>
        </div>
    </div>
</div>
